<div class="list row">
  <div class="col-lg-6 col-md-6">
    <div class="row">
      <div class="col-md-6">
        <h4>Users List</h4>
      </div>
      <div class="col-md-6">
        <button (click)="addUser()" class="btn btn-success">Add User</button>
      </div>
    </div><br><br>
    <div class="row">
      <div class="col-md-12">
        <table>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Address</th>
          </tr>
          <tr *ngFor="let user of users; let i = index" [class.highlight]="i == currentIndex"
            (click)="setActiveUser(user, i)">
            <td>{{ user.firstname }}</td>
            <td>{{ user.lastname }}</td>
            <td>{{ user.phone }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.address }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6" style="margin-left: 15px;margin-top:50px;">
    <div *ngIf="currentUser">
      <h4>User</h4>
      <div>
        <label><strong>First Name:</strong></label> {{ currentUser.firstname }}
      </div>
      <div>
        <label><strong>Last Name:</strong></label>
        {{ currentUser.lastname }}
      </div>
      <div>
        <label><strong>Phone:</strong></label>
        {{ currentUser.phone }}
      </div>
      <div>
        <label><strong>Email:</strong></label>
        {{ currentUser.email }}
      </div>
      <div>
        <label><strong>Address:</strong></label>
        {{ currentUser.address }}
      </div>
    </div>

    <div *ngIf="!currentUser">
      <br />
      <p>Please click on a User...</p>
    </div>
  </div>
</div>
