<div class="list row">
  <div class="col-lg-6 col-md-6">
    <div class="row">
      <div class="col-md-6">
        <h4>Book List</h4>
      </div>
      <div class="col-md-6">
        <button (click)="addBook()" class="btn btn-success">Add Book</button>
      </div>
    </div><br><br>
    <div class="row">
      <div class="col-md-12">
        <table>
          <tr>
            <th>Book Name</th>
            <th>Book Author</th>
            <th>Book Publication</th>
            <th>Price</th>
          </tr>
          <tr *ngFor="let book of books; let i = index" [class.highlight]="i == currentIndex"
            (click)="setActiveBook(book, i)">
            <td>{{ book.name }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.publication }}</td>
            <td>{{ book.price }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div *ngIf="currentBook">
      <h4>Book</h4>
      <div>
        <label><strong>Title:</strong></label> {{ currentBook.name }}
      </div>
      <div>
        <label><strong>Author:</strong></label>
        {{ currentBook.author }}
      </div>
      <div>
        <label><strong>Publication:</strong></label>
        {{ currentBook.publication }}
      </div>
      <div>
        <label><strong>Price:</strong></label>
        {{ currentBook.price }}
      </div>
    </div>

    <div *ngIf="!currentBook">
      <br />
      <p>Please click on a Book...</p>
    </div>
  </div>
</div>
