<h3>Add User</h3>
<div class="submit-form">
  <div *ngIf="!submitted">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="user">First Name</label>
          <input type="text" class="form-control" id="firstname" required [(ngModel)]="user.firstname"
            name="firstname" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="books">Last Name</label>
          <input type="text" class="form-control" id="lastname" required [(ngModel)]="user.lastname" name="lastname" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="type">Phone No.</label>
          <input type="text" class="form-control" id="phone" required [(ngModel)]="user.phone" name="phone" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="type">Email</label>
          <input type="text" class="form-control" id="email" required [(ngModel)]="user.email" name="email" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="type">Address</label>
          <input type="text" class="form-control" id="address" required [(ngModel)]="user.address" name="address" />
        </div>
      </div>
    </div>
    <button (click)="saveUser()" class="btn btn-success">Submit</button>
  </div>
  <div *ngIf="submitted">
    <h4>User details saved successfully!</h4>
  </div>
</div>
