<h3 style="margin-left: 400px !important;">Issue / Return of Book</h3>
<div class="submit-form">
  <div *ngIf="!submitted">
    <div class="form-group">
      <label for="user">Select User</label>
      <select name="users" id="users" class="form-control" [(ngModel)]="books.users">
        <option *ngFor="let user of users" [value]="user.id">{{ user.firstname }} {{user.lastname}}</option>
      </select>
      <!-- <input type="text" class="form-control" id="title" required [(ngModel)]="tutorial.title" name="title" /> -->
    </div>

    <div class="form-group">
      <label for="books">Select Books</label>
      <select name="books" id="books" class="form-control" [(ngModel)]="books.book">
        <option *ngFor="let books of allBooks" [value]="books.id">{{ books.name }}</option>
      </select>
    </div>
    <div class="form-group">
        <label for="type">Select Type</label>
        <select name="type" id="type" class="form-control" [(ngModel)]="books.type">
          <option *ngFor="let type of transactType" [value]="type">{{ type }}</option>
        </select>
      </div>
    <button (click)="saveEntry()" class="btn btn-success">Submit</button>
  </div>

  <div *ngIf="submitted">
    <h4>Book entries done successfully!</h4>
    <button class="btn btn-success" (click)="newEntry()">Add</button>
  </div>
</div>
